@charset "utf-8";
/* CSS Document */
body {
font-size: 16px;
}
.super {
  vertical-align: super;
  font-size: smaller;
  }
  
.sub {
  vertical-align: sub;
  font-size: smaller;
  }
.allcaps {
	text-transform: uppercase;
}

p {
	font-size: 16px;
}
h1 {
	font-size: 28px;
	font-weight: bold;
}
h2 {
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}
h3 {
	font-size: 20px;
	font-weight: bold;
}
h4 {
	font-size: 16px;
	font-weight: bold;
}
h5 {
	font-size: 16px;
	font-weight: bold
	text-decoration: underline;
}
h6 {
	font-size: 16px;
	font-style: italic;
}
.smallerText {
	font-size: small;
}

/* styles for print only */
@media print {
	p {
	font-size: 12pt;
}
h1 {
	font-size: 24pt;
	font-weight: bold;
}
h2 {
	font-size: 20pt;
	font-weight: bold;
	text-decoration: underline;
}
h3 {
	font-size: 18pt;
	font-weight: bold;
}
h4 {
	font-size: 15pt;
	font-weight: bold;
}
h5 {
	font-size: 14pt;
	font-weight: bold;
}
h6 {
	font-size: 12pt;
	font-weight: bold;
}
#navMenu {
 display:none;
 float:left;
 }


.super {
  vertical-align: super;
  font-size: smaller;
  }
  
.sub {
  vertical-align: sub;
  font-size: smaller;
  }